@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Main colors */
$google-color: #176DEE;
$google-secondary-color: #77A7FB;
$dark-alt-color: #024DBE;
$pink-color: #FF4081;

/* Font size */
$font-size-1: 60px;
$font-size-2: 40px;
$font-size-3: 20px;

$mobile-width: 620px;

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
    float: left;
    width: 100%;
    background-color: white;
    color: white;
}

::-webkit-input-placeholder {
   color: $google-secondary-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $google-secondary-color;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $google-secondary-color;
}

:-ms-input-placeholder {
   color: $google-secondary-color;
}

/* Helpers */

.marginTop {
    margin-top: 20px;
}

.marginTop--double {
    margin-top: 40px;
}

.marginBottom {
    margin-bottom: 20px;
}

.marginBottom--double {
    margin-bottom: 40px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fullWidth {
    width: 100%;
}

/* Loader */

$offset: 187;
$duration: 1.4s;

.loadingWrapper {
    margin-top: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
    0% { stroke: #4285F4; }
    25% { stroke: #DE3E35; }
    50% { stroke: #F7C223; }
    75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}

@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
    }
    100% {
       stroke-dashoffset: $offset;
       transform:rotate(450deg);
    }
}

/* App */

.questionBar {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: $google-color;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    @media (max-width: $mobile-width) {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .primaryButton {
        position: relative;
        top: 10px;
        background-color: $dark-alt-color;
    }
}

.question {
    font-size: $font-size-1;
    &:first-letter {
        text-transform: capitalize;
    }
    @media (max-width: $mobile-width) {
        font-size: $font-size-3;
    }
}

.answersContainer {
    position: absolute;
    margin-top: -7px;
    left: 0;
    right: 0;
}

.answer {
    margin-top: 60px;
    font-size: $font-size-2;
    color: $google-secondary-color;
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 100%;
    resize: none;
    vertical-align: bottom;
    height: 200px;
    &:focus {
        color: $google-secondary-color;
    }
    @media (max-width: $mobile-width) {
        margin-top: 20px;
        font-size: $font-size-3;
        height: 160px;
    }
}

.charsLeft {
    margin-right: 20px;
    color: $google-secondary-color;
    &.info {
        color: #FFD500;
    }
    &.warning {
        color: #DC4437;
    }
}

/* Buttons */

.buttonLabel {
    margin-right: 20px;
    color: $pink-color;
    float: right;
    position: relative;
    top: 22px;
}

.button {
    color: white;
    background-color: $dark-alt-color;
    font-size: 30px;
    padding: 15px;
    border: none;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 1px 5px rgba(0,0,0,0.28);
    cursor: pointer;
    &:disabled {
        opacity: 0.7;
        cursor: default;
    }
    &:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.primaryButton {
    background-color: $pink-color;
}

.roundButton {
    border-radius: 30px;
}

.submitButton {
    position: relative;
    top: 8px;
}

.answersButton {
    font-size: 18px;
    border-radius: 30px;
}